@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
}

body {
  line-height: 1;
  max-width: 100%;
  margin: auto;
  max-height: 1684px;
  font-size: 1.1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

/* Sidebar content */
.sidebar {
  width: 32%;
  float: left;
  background: #a6a1cc;
  display: block;
}

.sidebar .secavatar {
  min-height: 330px;
  text-align: center;
}

.sidebar section:nth-child(2) {
  min-height: 430px;
}

.sidebar section:nth-child(3) {
  min-height: 740px;
}

.sidebar section:last-child {
  min-height: 184px;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: auto;
  margin: 60px;
}

.sidebar h2 {
  text-align: center;
  background: #000000;
  color: #dcd9f5;
  padding: 9px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.sidebar section p:not(.pavatar) {
  padding: 0 50px 15px;
  line-height: 1.3em;
}

.loisirsicon {
  text-align: center;
}

.loisirsicon .fas {
  border: 2px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 1.5em;
  line-height: 1.8em;
  padding: 1px;
  margin: 10px;
}

/* Main content */
.main {
  width: 58%;
  background: #fff;
  display: block;
  float: right;
  padding: 0 5%;
}

.main header {
  min-height: 350px;
}

.main section:nth-child(2) {
  min-height: 440px;
}

.main section:nth-child(3) {
  min-height: 604px;
}

.main section:last-child {
  min-height: 290px;
}

.name {
  padding-top: 110px;
}

.name h1 span {
  color: #8168b4;
}

.name p {
  font-size: 1.5em;
  margin-top: .5em;
}

.name p span:before {
  content: '';
  background-color: #8168b4;
  position: relative;
  height: 2px;
  display: block;
  bottom: -35px;
  left: 0;
  width: 10%;
}

.main h2 {
  text-transform: uppercase;
  line-height: 2em;
  border-bottom: 2px solid #8168b4;
  font-weight: 700;
}

.main h3 {
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 7px;
}

.content {
  min-height: 100px;
  padding-top: 40px;
  display: flex;
}

.dateplace {
  width: 30%;
  float: left;
  margin-top: 5px;
}

.contentname {
  width: 70%;
  float: right;
  margin-top: 3px;
}

.content i {
  display: inline-flex;
}

.content p {
  display: inline-flex;
}

.recommandations {
  width: 50%;
  float: left;
  padding-top: 40px;
}

.recommandations h4 {
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 7px;
}

.main .fas {
  color: #8168b4;
  margin-right: 40px;
}

.main .far {
  color: #8168b4;
  margin-right: 40px;
}

.dateplace .far {
  margin-right: 55px;
}

.dateplace .fas {
  margin-right: 59px;
  margin-left: 7px;
  font-size: .3em;
}

.fas.fa-briefcase {
  margin-right: 45px;
}

.fas.fa-pen-fancy {
  margin-right: 45px;
}

.main p {
  line-height: 1.3em;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.6em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.1em;
  }

  .sidebar {
    width: 100%;
  }

  .sidebar .secavatar {
    height: 25vh;
  }

  .avatar {
    max-width: 300px;
  }

  .sidebar h2 {
    padding: .5em;
    margin-bottom: 1.5em;
  }

  .sidebar section p:not(.pavatar) {
    padding: 0 2em 2em;
    line-height: 1.3em;
  }

  .sidebar section:nth-child(2),
  .sidebar section:nth-child(3),
  .sidebar section:last-child {}

  .loisirsicon {
    padding-bottom: 40px;
  }

  .main {
    width: auto;
    padding: 0 2em 2em;
  }

  .sidebar, .main {
    float: unset;
  }

  .name {
    padding-top: 70px;
  }

  .main header {
    min-height: 250px;
  }

  .sidebar section:nth-child(3) {
    min-height: 550px;
  }

  .main .fas, .main .far {
    display: none !important;
  }

  .content p {
    font-size: 1em;
    text-justify: inter-word;
  }

  .content {
    display: block;
  }

  .dateplace, .contentname {
    float: unset;
    width: 100%;
  }

  .dateplace {
    margin-bottom: 10px;
  }

  .main h3 {
    margin-bottom: 10px;
  }

  .main section:nth-child(2) {
    padding-bottom: 80px;
  }

  .main section:nth-child(3) {
    padding-bottom: 80px;
  }

  .recommandations {
    width: 100%;
    float: unset;
  }

  .main section:last-child {
    min-height: 390px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 1em;
  }

  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.1em;
  }

  .main header {
    min-height: 260px;
  }

  .avatar {
    width: 150px;
    margin: 40px;
  }

  .sidebar .secavatar {
    min-height: 220px;
  }

  .sidebar section p:not(.pavatar) {
    padding: 0 25px 15px;
  }

  .loisirsicon {
    padding-bottom: 40px;
  }

  .name p {
    font-size: 1.3em;
  }

  .main .fas {
    margin-right: 10px;
  }

  .fas.fa-briefcase {
    margin-right: 15px;
  }

  .fas.fa-pen-fancy {
    margin-right: 15px;
  }

  .dateplace .far {
    margin-right: 20px;
  }

  .dateplace .fas {
    margin-right: 23px;
    margin-left: 6px;
  }

  .main section:nth-child(2) {
    min-height: 490px;
  }

  .main section:nth-child(3) {
    min-height: 564px;
  }

  .main section:last-child {
    min-height: 280px;
  }
}
